<h1 class="text-center display-4">Your Shopping Cart:</h1>

<p *ngIf="this.cart.length == 0" class="turquoise fs-4 py-4">Your cart is empty</p> <!-- yeah, finally got it to work, woo hoo! -->
<div *ngFor="let val of cart" class="cart-area">
  <div class="d-flex align-items-baseline">
    <img src="../../assets/{{ val.image }}" alt="{{ val.name }}" class="my-1" width="100">
    <h5 class="ms-2">{{val.name}}</h5>
    <p class="ms-2">{{val.price | currency}}</p>
  </div>
  <hr class="m-0">
</div>

<h6 class="text-muted mt-4">Enter your name and address, hit the "Purchase"-Button and your items will be in your hands soon! Yay!</h6>

<form class="my-2" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div class="col-12 col-md-8 col-lg-4">
    <label class="form-label" for="name">Name:</label><br>
    <input class="form-control" id="name" type="text" formControlName="name">
  </div>
  <div class="col-12 col-md-8 col-lg-4">
    <label class="form-label" for="address">Address:</label><br>
    <input class="form-control" id="address" type="text" formControlName="address">
  </div>

  <button class="btn btn-lg btn-secondary text-dark my-4" type="submit">Purchase</button>
</form>