/* You can add global styles to this file, and also import other style files */
.wrap {
  margin: 2rem auto 6rem;
}

.btn-secondary {
  background-color: #BEE5E5;
  border: none;
  transition: all 0.3s linear;
}

.btn-secondary:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px darkslategray;
  background-color: #BEE5E5;
}

.turquoise {
  color: #BEE5E5;
}